{% extends 'base.html.twig' %}

{% block title %}Mon compte
{% endblock %}

{% block content %}


	<div class="container">
		<h1>Mon compte</h1>
		<hr>
		<p class="text-secondary my-5">
			Bienvenue sur votre page d'accueil. Vous pouvez y gérer vos informations personnelles ainsi que vos commandes.</p>

		<div class="row g-4 ">
			<div class="col-md-6 col-sm-12 my-3 myMenu">
				<a href="{{path('app_show_info', {id:app.user.id})}}" class="link-dark  text-decoration-none d-flex align-items-center border ">
					<i class="bi bi-person-circle px-4 border-end"></i>
					<h4 class="px-3 text-uppercase">Mes informations personnelles</h4>
				</a>
			</div>

			<div class="col-md-6 col-sm-12 my-3 myMenu">
				<a href="" class="link-dark text-decoration-none  d-flex align-items-center border ">
					<i class="bi bi-list-check px-4 border-end"></i>
					<h4 class="px-3 text-uppercase">Historique de mes commandes</h4>
				</a>
			</div>
			<div class="col-md-6 col-sm-12 my-3 myMenu">
				<a href="" class="link-dark text-decoration-none  d-flex align-items-center border">
					<i class="bi bi-heart-fill px-4 border-end"></i>
					<h4 class="px-3 text-uppercase">Ma liste de souhaites</h4>
				</a>
			</div>
			<div class="col-md-6 col-sm-12 my-3 myMenu">
				<a href="" class="link-dark text-decoration-none  d-flex align-items-center border">
					<i class="bi bi-upc-scan px-4 border-end"></i>
					<h4 class="px-3 text-uppercase">Mes bons de reduction</h4>
				</a>
			</div>
			<div class="col-md-6 col-sm-12 my-3 myMenu">
				<a href="" class="link-dark text-decoration-none  d-flex align-items-center border">
					<i class="bi bi-layer-backward px-4 border-end"></i>
					<h4 class="px-3 text-uppercase">Mes avoirs</h4>
				</a>
			</div>
			<div class="col-md-6 col-sm-12 my-3 myMenu">
				<a href="" class="link-dark text-decoration-none  d-flex align-items-center border">
					<i class="bi bi-list-check px-4 border-end"></i>
					<h4 class="px-3 text-uppercase"></h4>
				</a>
			</div>

		</div>


	</div>
{% endblock %}
