{% extends 'base.html.twig' %}

{% block title %}
	Tech shop || Paiement
{% endblock %}

{% block content %}
	<div class="container">
		<div class="shadow p-3 my-5 bg-body rounded">
			<div class="formuleMerci">
				<h2 class="">Merci!</h2>
				<p class="alert alert-success">
					<strong>Votre commande a été traitée avec succès</strong>
				</p>
				<hr>
				<p>
					Vous rencontrez un problème?
					<a href="{{path('app_contact')}}">Nous contacter</a>
				</p>
				<div class="btn btn-primary">
					<a class="text-white" href="{{ path('app_main') }}" role="button">Notre catalogue</a>
				</div>
			</div>
		</div>
	</div>
    {% endblock %}