{% extends 'base.html.twig' %}

{% block title %}
	Tech shop || Paiement
{% endblock %}

{% block content %}
	<div class="container">
		<div class="body_content">
			<div class="formuleMerci">

				<h2 class="">Merci!</h2>
				<p class="lead">
					<strong>Votre commande a été traitée avec succès</strong>
				</p>
				<hr>
				<p>
					Vous rencontrez un problème?
					<a href="{{path('app_contact')}}">Nous contacter</a>
				</p>
				<div class="btn_merci">
					<a class="btnj" href="{{ path('app_main') }}" role="button">Notre catalogue</a>
				</div>

			</div>

		</div>
	</div>
    {% endblock %}