{% extends "base.html.twig" %}

{% block title %}
    Page non trouvée 404
{% endblock %}

{% block content %}
    <div class="container">
    
        <div class="col-9 m-auto">
            <h1>Cette page n'existe pas 404</h1>
        
        </div>
    
    </div>
{% endblock %}