{% extends "base.html.twig" %}

{% block title %}
	Page non trouvée 404
{% endblock %}

{% block content %}
	<div class="container">

		<div class="page-wrap d-flex flex-row align-items-center">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-12 text-center">
						<span class="d-block" style="font-size: 180px;">404</span>

						<i class="bi bi-emoji-frown-fill" style="font-size: 12rem; color:red"></i>
						<div class="mb-4 lead">La page que vous recherchez n'a pas été trouvée.</div>
						<a href="{{path('app_main')}}" class="btn btn-link">Accueil</a>
					</div>
				</div>
			</div>
		</div>

	</div>
{% endblock %}
